<head>
{% load staticfiles %}

<title>Exhibiz Sample QR-Codes</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<style>
body {
  padding-top: 65px;
}
.logo_text {
    color:white;
    vertical-align:middle;
}

</style>
</head>
<body>
<div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li><a href="#"><img src="/static/logo.png" width="30" height="30"/> &nbsp;&nbsp;<span class="lead logo_text">EXHIBIZ</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
</div><!--/.navbar -->
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-4" >
          <center>
          <img src="/static/qrcodes/mitali_srivastava.jpg" width="300" height="300"/>
          <br/>
          <h1>Mitali Srivastava</h1></center>
      </div>
      <div class="col-sm-4" >
          <center>
          <img src="/static/qrcodes/nisha_manda.jpg" width="300" height="300"/>
          <br/>
          <h1>Nisha Manda</h1></center>
      </div>
      <div class="col-sm-4" >
          <center>
          <img src="/static/qrcodes/rakesh_kaur.jpg" width="300" height="300"/>
          <br/>
          <h1>Rakesh Kaur</h1></center>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-4" >
          <center>
          <img src="/static/qrcodes/prachi_chaudhuri.jpg" width="300" height="300"/>
          <br/>
          <h1>Prachi Chaudhuri</h1></center>
      </div>
      <div class="col-sm-4" >
          <center>
          <img src="/static/qrcodes/vishal_varkey.jpg" width="300" height="300"/>
          <br/>
          <h1>Vishal Varkey</h1></center>
      </div>
      <div class="col-sm-4" >
          <center>
          <img src="/static/qrcodes/tisha_kunda.jpg" width="300" height="300"/>
          <br/>
          <h1>Tisha Kunda</h1></center>
      </div>

    </div>
</div>
</body>

