<div class="row">
      <div class="col-sm-6">
            <b>ES Running : </b> {{ESRunning}}
      </div>
</div>
<div class="row">
      <div class="col-sm-6">
            <b>Last Export : </b> {{lastExport}}
      </div>
</div>
<div class="row">
      <div class="col-sm-6">
        <b>Lead Count :  </b> {{leadCount}}
      </div>
</div>
<hr/>

<div class="alert alert-danger" id="errorMessage"></div>
<div class="alert alert-success" id="successMessage"></div>
<div>
<form id="exportReportsDataForm">
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
            <div class="col-xs-12">
                <p class="form-control-static"><b>Qualifier Type</b></p>
            </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
            <div class="col-xs-12">
                <p class="form-control-static"><b>Qualifier Name</b></p>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
            <div class="col-xs-12">
                <p class="form-control-static"><b>Qualifier Question</b></p>
            </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
            <div class="col-xs-12">
                <p class="form-control-static"><b>ES Mapping Field</b></p>
            </div>
        </div>
      </div>
    </div>
    <hr/>
    {% for question in questions %}
        <div class="row">
          <input type="hidden" id="qualifierIDs_{{forloop.counter}}" value="{{question.4}}"/>  
          <div class="col-sm-2">
            <div class="form-group">
                <div class="col-xs-12">
                    <p class="form-control-static">{{question.0}}</p>
                </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
                <div class="col-xs-12">
                    <p class="form-control-static">{{question.1}}</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
                <div class="col-xs-12">
                    <p class="form-control-static">{{question.2}}</p>
                </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group required">
                <div class="col-xs-12">    
                    <input type="text" class="form-control" id="ESField_{{forloop.counter}}" value="{{question.3}}"/>
                </div>
            </div>
          </div>
        </div>
    {% endfor %}
    <hr/>
        <div class="row text-center">
            <button type="button" class="btn btn-primary btn-lg" onClick="saveFieldMappings();">Save Field Mappings</button>
            <button type="button" class="btn btn-primary btn-lg" onClick="exportDatatoES();" id="exportData">Export Data to ES</button>
        </div>
    </form>    
    Note: <b>Export Data to ES</b> will work when the mapping of all the questions is completed.
</form>
</div>
<script>
$('.alert').hide();
</script>
