<center><h1>Export Reports Data</h1></center>
<hr />
<center>
<b>Tradeshow : </b>
<select class="selectpicker" name="tradeshow" id="tradeshow" onChange="getESMapping();">
    <option value="-1">--Select Tradeshow--</option>
    {% for tradeshow in tradeshows %}
        <option value="{{tradeshow.id}}">{{tradeshow.name}}</option>
    {% endfor %} 
</select>
</center>
<hr />
<div class="container" id="exportReports" style="padding:50px">

    <!--b>Exhibitor : DLF </b>
    <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
    </table-->
</div>
<br/>
<script>

function getESMapping() {
    var tradeshowID = $('#tradeshow').val();
    if (tradeshowID == "-1") {
        console.log("Please select Tradreshow.");
        alert("Please select Tradreshow.");
    } else {
        console.log("Tradeshow selected.");
        var server = $(location).attr('host');
        var api = "http://" + server + "/tsadmin/get/es/mapping/?tradeshowID=" + tradeshowID;

        $.ajax({url: api}).done(function(data) {
            $("#exportReports").html(data);
        });
    }
}


// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

