<head>
{% load staticfiles %}

<title>Privacy Policy</title>

<!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"-->
<link rel="stylesheet" href="{% static 'tsadmin/css/bootstrap.min.css' %}">


</head>
<body>
<div>
<nav class="navbar navbar-inverse bg-inverse navbar-fixed">
  <!-- Navbar content -->
    <div style="color:white"><h3>EXHIBIZ</h3></div>
</nav>
<div>
<div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h1>Privacy Policy</h1>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        We ensure the privacy and security of all information exchanged via our web site. Any personal information will be treated with the highest standards of safety, security, and confidentiality.
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
          <h3>Privacy</h3><br/>
        We are committed to ensuring your privacy as a client. You can be confident that we do not sell or exchange names, or any other information about our clients with third parties.
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
          <h3>Copyrights and Copyright Agent</h3>
        All information contained here is a copyright of Exhibiz, unless otherwise indicated. Permission to use, copy, modify, and distribute any information contained here without prior written consent is strictly prohibited. Unauthorized reproduction or distribution of the information contained here, or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law.
      </div>
      <div class="col-sm-3"></div>
    </div>


</div>
</body>

